body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-button {
  background-color: #04b2fc;
  border-radius: 0.4em;
  font-size: 2rem;
  padding: 0.4em;
  color: white;
  border: none;
  opacity: 50%;
}

.hide-button:hover {
  opacity: 100%;
  transition-duration: 1s;
}

.hide-button:focus {
  opacity: 0%;
  transition-duration: 3s;
}

.color-button {
  background-color: #04b2fc;
  border-radius: 0.4em;
  font-size: 2rem;
  padding: 0.4em; 
  color: white;
  border: none;
}

.color-button:focus {
  background-color: orange;
  color: black;
  transition: color 3s linear 2s, background-color 1s;
}
